.carouselExampleControls{
    height: 100%;
    width: 100vw;
    display: flex;
   } 
   .carousel-inner {
     height: 100%;
     flex-wrap: nowrap;
     width: 100vw;
     display: flex;  
     align-items: center; 
   }
#carrusel1{
    background-image: url(../../../assets/img/fondo_.png);
    min-width: 95%;
    min-height: 376px;
    max-height: 480px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  #parrafo{
   z-index: 1;
   width: 60%; 
   height: 40%; 
   border: 2px solid #E9B76B;  
   background-color: #17222373;
   border-radius: 15px;
  }
  .parra_title{
      color: #bc8cf7;
      text-align: center;
      padding-top: 25px;
      font-size: 2.2rem;
  }

  .parra_par{
      font-size: 1.7rem;
      color: #e0dbdb;
      text-align: center;
      padding: 15px;
  }
  #second_item{
    display: flex;
    min-width: 95%; 
    height: 60%; 
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #c4c4c473;
    min-height: 376px;
    max-height: 376px;  
  }
  .image_sitem{
      width: 60%;
      display: flex;
      justify-content:flex-end;
      align-items: center;
   }
  #second_item img{
   width: 70%;
   height: 62vh;
  }
  #second_parra{
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 10%;
  }
  .title_seller{
      color: var(--colorProductName);
  }
  .name_seller{
      font-weight: bold;
      font-size: 1.2rem;
      margin-bottom: 0%;
  }
  .off_price{
    color:#574878;
    font-size: 1.2rem;
  }

  #carru_btn{
    background-color: var(--colorButtonMenuAll);
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    color: white;
    font-weight: bold;
  }
  #carru_btn:hover{
    background-color: white;
    border: 2px solid var(--colorButtonMenuAll);
    color: var(--colorButtonMenuAll);
    }

  #carrusel2{
    background-image: url(../../../assets/img/eternal.png);
    min-width: 95%;
    min-height: 376px;
    max-height: 376px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    #parra_second{
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-left: 10%;
  }
  .third_title{
      color: var(--colorProductName);
  }
  .yoga{
      color: var(--colorButtonMenuAll);
  }
  #box_yoga{
     
      text-align: center;
  }

  @media (max-width: 480px){
    .parra_title{
      color: #bc8cf7;
      text-align: center;
      padding-top: 25px;
      font-size: 1.2rem;
  }
  .parra_par{
    font-size: 1rem;
    color: #e0dbdb;
    text-align: center;
    padding: 15px;
}
.name_seller{
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0%;
}
.off_price{
color:#574878;
font-size: 0.8rem;
}
#second_parra{
  margin-left: 15%;
  margin-right: 0;
  align-items: right;
  width: 30%;
}
.image_sitem{
  width: 60%;
  display: flex;
  justify-content:center;}

  
  #parra_second{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}
  }