.carouselExampleControls{
    height: 100%;
    width: 100%;
    display: flex;
   } 
   .carousel-inner {
     height: 100%;
     flex-wrap: nowrap;
     width: 100%;
     display: flex;   
   }
#carrusel1{
    background-image: url(../../../assets/img/fondo_.png);
    min-width: 1220px;
    min-height: 376px;
    max-height: 480px;
    background-position: center;
  }
 
  #parrafo{
   z-index: 1;
   width: 100%;    
  }