footer {
  background-color: var(--colorFooter);
  color: var(--colorTextWhite);
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}
footer .footerLogos {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: max(10px, 2vh);
  width: 100%;
}
footer .footerLogos .footerLogoAdevinta {
  align-items: center;
  display: flex;
  justify-content: left;
  width: 50%;
}
footer .footerLogos .footerLogoAdevinta img {
  width: 200px;
}
footer .footerLogos .footerSocialMedia {
  display: flex;
  justify-content: space-evenly;
  width: 30vw;
}
footer .footerLogos .footerSocialMedia a {
  color: var(--colorTextWhite);
  display: flex;
}
footer .footerLogos .footerSocialMedia a img {
  width: 40px;
}
footer .footerComplement {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: max(10px, 2vh);
  width: 100vw;
}
footer .footerInfoLinks {
  display: flex;
  justify-content: space-between;
  width: 60vw;
}
footer .footerInfoLinks a {
  color: var(--colorTextWhite);
  text-decoration: none;
}
footer .footerInfo {
  display: flex;
  justify-content: center;
  padding: max(10px, 2vh);
  width: 100vw;
}
@media (max-width: 480px){
  footer .footerLogos {flex-direction: column; align-items: center;}
  footer .footerLogos .footerLogoAdevinta {width: 90%;}
  footer .footerLogos .footerSocialMedia {width: 90%;}
  footer .footerLogos .footerSocialMedia a img {
    width: 25px;
  }
  footer .footerComplement{ flex-direction: column; width: 100%;}
  footer .footerInfoLinks {width: 90vw;}
  footer .footerComplement {flex-direction: column;}
  footer .footerInfoLinks {width: 90vw;}
  footer a{ font-size: 0.6rem;}
  footer{text-align: center;}

}
@media (min-width: 481px) and (max-width: 769px) {
  footer .footerComplement{ flex-direction: column; width: 100%;}
  footer .footerInfoLinks {width: 90vw;}
  footer .footerLogos .footerSocialMedia {width: 50%;}
  footer .footerLogos .footerSocialMedia a img {
    width: 30px;
  }
}
