:root{
    --colorFooter:#1F1130;
    --colorTextWhite:#fff;
    --colorBackground:#FAF6F6;
    --colorTextBlack:#000;
    --colorNavbar: #c4c4c45a;
    --colorLogin: #97D711;
}

*, body{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
}