:root{
    --colorFooter:#1F1130;
    --colorTextWhite:#fff;
    --colorBackground:#FAF6F6;
    --colorTextBlack:#000;
    --colorNavbar: #c4c4c45a;
    --colorLogin: #97d411;
    --colorBorderMenuNav: #25005524;
    --colorTextMenu:#250055;
    --colorButtonMenu:#a68ec58f;
    --colorButtonMenuAll:#97d711e8;
}

*, body{
    margin: 0;
    padding: 0;
}

body{
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar{
    width: 12px;
    background-color: #F5F5F5;
  }
  ::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px var(--colorTextBlack);
    border-radius: 10px;
    background-color: var(--colorNavbar);
  }
  ::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: var(--colorButtonMenu);
  }
  
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
}